<html>
<head>

</head>
  <body>
  <script>

  </script>
  <div id="wrap">
    <div id="header">
      <h1>
        <a href="/">Your Season</a>
      </h1>
    </div>

    <div id='nav'>
      <ul class='year'>
        {% for year in years %}
          <ul class='year'>
            <li>
              {{ year }}
              <ul class='season'>
                {% for season in seasons. %}
                  <li>
                   {{ season }}
                  </li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        {% endfor %}
      </ul>
    </div>
    <div id="section">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  </body>
</html>